* {
    box-sizing: border-box;
    background : #D9D9D9;
  }
  /* font */
  body {
    font-family: sans-serif;
    margin: 0;
  }
  /* heading */
  h2 {
    margin-top: 0;
    font-weight: normal;
  }
  /* Nav bar and Buttons */
  .flex {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
  }
  /* button Bg and color */
  .bg-black {
    background: black;
    color: white;
    padding: 1em;
  }
  /* container */
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
  
  .flow-space > * + * {
    margin-top: var(--spacer, 1em);
  }
  /* table */
  table {
    border-spacing: 0;
    text-align: left;
  }
  /* thead and data */
  th,
  td {
    font-weight: normal;
  
    border: 1px solid black;
    padding: 0.5em 1em;
    width: 190px;
  }
  td {
    padding: 0.3em 1em;
  }
  /*  child properties*/
  th:first-child,
  td:first-child {
    text-align: center;
    width: 25px;
  }
  th:nth-child(2) {
    width: 275px;
  }
  
  td:nth-child(2) {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5em;
  }
  /*  btn */
  button {
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    padding: 1em 3em;
    font-size: 1.1em;
  }
  .active {
    opacity: 0.5;
  }
  /* btn hover */
  button:hover {
    opacity: 0.7;
  }
  /* input */
  input {
    width: 100%;
    border: 2px solid black;
    font-size: 1.2em;
    padding: 0.5em;
  }
  /* img properties*/
  img {
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 50%;
  }
